html {
    font-family: "Exo 2", sans-serif;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 801px) {
    html {
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        border: 2px solid #274c80;
        border-radius: 50px;
        overflow: auto;
    }

    #title {
        background-color: #274c80;
        color: white;
    }

    #album-gal {
        padding: 10px 15px;
    }

    .scroll-button {
        width: 45px;
        height: 45px;
    }

    #triangle-left {
        border-top: 12px solid transparent;
        border-right: 24px solid #5d4199;
        border-bottom: 12px solid transparent;
        left: 15%;
    }

    #triangle-right {
        border-top: 12px solid transparent;
        border-left: 24px solid #5d4199;
        border-bottom: 12px solid transparent;
        right: 15%;
    }
}

@media only screen and (max-width: 800px) {
    #title {
        background-color: #a4b1c5;
        color: #122237;
    }

    #album-gal {
        padding: 10px 0;
    }

    .scroll-button {
        width: 40px;
        height: 40px;
    }

    #triangle-left {
        border-top: 10.5px solid transparent;
        border-right: 21px solid #5d4199;
        border-bottom: 10.5px solid transparent;
        left: 15%;
    }

    #triangle-right {
        border-top: 10.5px solid transparent;
        border-left: 24px solid #5d4199;
        border-bottom: 10.5px solid transparent;
        right: 15%;
    }
}

body,
header,
main {
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
    font-family: "Pattaya";
}

h2 {
    font-size: 2em;
    font-family: "Pattaya";
}

p {
    font-size: 1em;
}

img {
    width: 5em;

}

/* Navigation setting */
.navbar,
header,
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

ul {
    border: 2px solid #3d5a80;
    border-radius: 30px;
    width: 70%;
    overflow: hidden;
}

#photo-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20%;
}

header {
    height: 75px;
}

.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 80%;
}

.navbar li {
    padding: 0.5% 1%;
    font-size: 0.75em;
    border-right: 1px solid #274c80;
    width: 25%;
    text-align: center;

    transition: ease-in;
    transition: 0.25s;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar ul li:hover a {
    color: white;
}

nav li:hover {
    cursor: pointer;
    background-color: #263953;
    color: white;
}

nav li:active {
    cursor: pointer;
    background-color: rgb(152, 169, 215);
    color: #263953;
}

.navbar li:last-child {
    border-right: none;
}

#photo-profil img {
    max-width: 70px;
    border-radius: 100%;
}


/* Title */
#title {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#title div {
    width: 50%;
    margin-left: 20px;
}

#title figure {
    width: 40%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

/* Gallery */
#gallery {
    padding: 2rem 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.scroll-button {
    border: 5px solid rgb(100, 96, 138);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.scroll-button:hover {
    scale: 1.3;
    width: 40px;
    height: 40px;
}

#triangle-left {
    width: 0;
    height: 0;
    position: absolute;
}

#triangle-right {
    width: 0;
    height: 0;
    position: absolute;
}

#album-gal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    justify-content: space-around;
}

/* The code is moved on album transition => container-1 and container-2 */
#album-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: space-evenly;

    /* opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease; */
    animation-name: fade-in1;
    animation-duration: 3s;
}

#album-gal figure {
    width: 30%;
    height: 100%;
    background-color: rgb(112, 112, 209);
}

/* Album container transition */
@keyframes fade-in1 {
    0% {
        opacity: 0;
        translate: 100px;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        translate: 0px;
    }
}

@keyframes fade-in2 {
    0% {
        opacity: 0;
        translate: -100px;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        translate: 0px;
    }
}

@keyframes fade-out1 {
    0% {
        opacity: 1;
        translate: 0px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        translate: -100px;
    }
}